body {
    background: url("https://get.wallhere.com/photo/reactJS-JavaScript-Typescript-programming-programming-language-React-Native-Facebook-react-apps-Front-End-developer-1568827.jpg") no-repeat center center fixed;
    background-size: cover;

}

.app_wrapper {
    display: grid;
    width: 1200px;
    margin: 0 auto;

    grid-template-areas:
    'h h'
    'n c';
    grid-auto-rows: 60px 1fr;
    grid-template-column: 2fr 10fr;
}

