/*.content {*/
/*    background: url("https://icon-library.com/images/cog-icon/cog-icon-3.jpg") no-repeat center center fixed;*/
/*    background-size: cover;*/
/*    width: 1000px;*/
/*}*/

.content img {
    width: 920px;
    height: 719px;
}
